.collapsible-panel {
  margin: 15px;

  .ReactTable .rt-thead .rt-tbody{
    overflow: hidden;
  }

  .ReactTable .rt-tbody .rt-td {
      border-right: 1px solid rgba(0,0,0,0.02);
  }

  .ReactTable.-striped .rt-tr.-odd {
    background: none;
  }

  .lab-results-list-header {
    display: none;
  }

}

.ReactTable .rt-thead .rt-th {
  border-right: 1px solid rgba(0,0,0,0.45);
}

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(0,0,0,0.45);
}

.lab-results-list-column-header {
  text-align: left;
}

.lab-results-list-cell-test-type,
.lab-results-list-header-test-type {
  min-width: 300px;
  width: 48%;
  flex-grow: 3 !important;
}

.lab-results-list-cell-date,
.lab-results-list-header-date {
  min-width: 120px;
  max-width: 120px;
}

.lab-results-list-cell-result,
.lab-results-list-header-result {
  min-width: 120px;
  width: 20%;
}

.lab-results-list-cell-result {
  display: flex;
  justify-content: center;
}

.lab-results-list-cell-normal-range,
.lab-results-list-header-normal-range {
  min-width: 140px;
  width: 20%;
}

.lab-results-list-cell-normal-range {
    display: flex;
    justify-content: center;
  }

i.scale:hover {
  text-decoration: none;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  cursor: pointer;
}

.lab-results-list {
    position: relative;
    margin-top: 30px;
}
.table_cell {
    font-size: 15px;
    text-transform: capitalize;
    &.urgency {
        &.stat {
            text-transform: uppercase !important;
            font-weight: bold;
            color: red;
        }
        &.routine {
            text-transform: lowercase !important;
        }
    }
}

.labs-order-table-head {
    font-size: 16px;
    font-weight: 800;
}

// style for making sure each row in the
// sortableTablecomponent have a cursor pointer
// instead of an arrow...
// target class is .rt-tr-group
.rt-tr-group {
  cursor: pointer;
}

.lab-result-list-filters {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: white;
    padding: 10px;

  .date-picker-filter {
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    background: white;
    padding: 10px;
  }

  .test-type-filter {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: white;
    padding: 10px;
  }

}

.abnormal-value {
    color: red;
    font-weight: 800
}

.expander-cell{
    min-width: 35px;
    max-width: 35px;
    border-right: 0;
}

.expander-cell-header {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media print {
  .ReactTable {
    max-width: 90%;
    margin-left: 5%;
  }
}




