i.scale:hover {
  text-decoration: none;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  cursor: pointer;
}

.lab-order-list {
    position: relative;
    margin-top: 30px;

  .ReactTable .rt-tbody{
    overflow: hidden;
  }
}
.table_cell {
    font-size: 15px;
    text-transform: capitalize;
    &.urgency {
        &.stat {
            text-transform: uppercase !important;
            font-weight: bold;
            color: red;
        }
        &.routine {
            text-transform: lowercase !important;
        }
    }
}

.labs-order-table-head {
    font-size: 16px;
    font-weight: 800;
}

.lab-order-list-column-header {
  text-align: left;
}

.lab-order-list-cell-emr-id,
.lab-order-list-header-emr-id {
  min-width: 80px;
  max-width: 80px;
}

.lab-order-list-cell-name,
.lab-order-list-header-name {
  min-width: 150px;
  max-width: 150px;
}

.lab-order-list-cell-order-id,
.lab-order-list-header-order-id {
  min-width: 80px;
  max-width: 110px;
}

.lab-order-list-cell-order-date,
.lab-order-list-header-order-date {
  min-width: 110px;
  max-width: 110px;
}

.lab-order-list-cell-lab-id,
.lab-order-list-header-lab-id {
  min-width: 80px;
  max-width: 80px;
}

.lab-order-list-cell-status,
.lab-order-list-header-status {
  min-width: 90px;
  max-width: 90px;
}

.lab-order-list-cell-urgency,
.lab-order-list-header-urgency {
  min-width: 80px;
  max-width: 80px;
}

.lab-order-list-cell-test-type,
.lab-order-list-header-test-type {
  min-width: 210px;
  max-width: 210px;
}

.lab-order-list-cell-actions,
.lab-order-list-header-actions {
  min-width: 80px;
  max-width: 80px;
  overflow: visible !important;
}

// style for making sure each row in the
// sortableTablecomponent have a cursor pointer
// instead of an arrow...
// target class is .rt-tr-group
.rt-tr-group {
  cursor: pointer;
}

.addOrder-span {
  padding-left: 60px;
}

.addOrder-button {
  padding-top: 5px;
  padding-bottom: 5px;
}

.order-list-filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  padding: 10px;
  .bottom-filters {
    width: 100%;
    display: flex;
    .form-filter-group {
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      &.quater {
        width: 20%;
      }
      &.one-third {
        width: 90%
      }
    }
  }
  .top-filters {
    width: 100%;

  }
}
.date-picker-filter{
  display: flex;
  position: relative;
  margin-bottom: 5px;
}


.test-type-filter {
  width: 100%;
  height: 45px;
}


.line {
  line-height: 30px;
  margin-right: 2px;
  margin-left: 5px;
}

.name-filter-container {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.name-emrid-order-filter {
  display: flex;
  width: 60%;
  position: relative;

  input {
    width: 100% !important;
    padding: 0px 0px 0px 40px !important;
    border-radius: 0px !important;
    font-size: 16px;
    background-color: #FFF;
    border: 1px solid #DDD;
    color: #003f5e;
    display: block;
    height: 45px;
  }

}

.accession-number-filter {
  width: 20%;
  font-size: 12px;
  margin-right: 2%;
}

.status-dropdown {
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 12px;
}

.type-dropdown {
  width: 20%;
  margin-left: 2%;
  font-size: 12px;
}

.discontinue-actn-btn {
  display: flex;
  justify-content: center;
}

.order-actn-btn {
  width: 25px;
  margin: 10px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.tooltips {
  position: relative;
}
.tooltips:after {
  position: absolute;
  z-index: 2;
  top: -5px;
  right: 105%;
  text-align: center;
  padding: 3px;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  opacity: 0;
  content: attr(data-tooltip);
  transition: all .2s ease-in-out .25s;
  visibility: hidden;
  font-size: 12px;
  font-weight: 800;
  border-radius: 3px;
  height: 20px;
  width: 50px;
}
.tooltips:hover:after {
  opacity: 1;
  visibility: visible;
}


.card-list-container {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  border-style: ridge;
  background-color: #FDC97D;
  max-height: 360px;
  height: auto;
  width: 100%;
  z-index: 1;
}

.card-list:nth-child(even) {
  background: #FBE1BC;
}

.cardlist-search-container {
  position: relative;
  display: inline-block;
  width: auto;
}
