.lab-trends-list-cell-sample-date,
.lab-trends-list-header-sample-date,
.lab-trends-list-cell-normal-range,
.lab-trends-list-header-normal-range,
.lab-trends-list-cell-result,
.lab-trends-list-header-result,
.lab-trends-list-cell-result-date,
.lab-trends-list-header-result-date {
    max-width: 150px;
    text-align: center;
}

.lab-orders-trend-list {
  width: 80%;
}
