legend {
    width: auto;
    font-size: 15px;
}

fieldset {
    border: 1px solid black;
}

.result-input {
    width: 70px;
    border: 1px solid black;
    padding: 0px 5px;
}

.result-detail-range {
    font-size: 13px;
}

.fieldset-container {
    background-color: lightgrey;
}

input[type="checkbox"] {
    transform: scale(2);
}

span.test-details {
  font-size: 20px;
}

a.link-cancel {
  color: white
}

.swal-button--NO {
  background: #f66;
 }
.swal-button--YES,
.swal-button--confirm {
  background: #8eb82a;
} 

button.pull-right.btn-success {
  background: #5cb85c;
}

.date-picker-label {
  line-height: 35px;
  margin-right: 10px;
  font-size: 14px;
  width: 100%;
}
